.wrap {
    width: 800px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.top {
    background: #242414;
    width: 800px;
    height: 300px;
}
.bottom {
    display: flex;
}
.one {
    background: #253930;
    width: 600px;
    height: 300px;
}
.two {
    background: #614b4b;
    width: 200px;
    height: 300px;
}
