.main {
    width: 1440px;
    min-height: 500px;
    border: 1px solid blue;

}
h1 {
    text-align: center;
}
h2 {
    color: #3298f2;
    text-align: center;
}
p {
   text-align: justify;
}
.img {
    display: flex;
    justify-content: center;
}
.top_screen {
    width: 1440px;
    height: 500px;
    margin: 0 auto;
    background: #fcfcfc;
    display: flex;
    box-sizing: border-box;
}
.top_screen_left {
    width: 50%;
    background: #b3f5d7;
}
h3 {
    text-align: center;
}

.top_screen_right {
    width: 50%;
    background-color: #EDF4FB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu {
    width: 50%;
    margin: auto;
    background: #2669a5;
    box-sizing: border-box;

}
.bottom {
    text-align: center;
    margin: auto;
    box-sizing: border-box;
}
