
body {
    background: #E5E5E5;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    background: white;

}

.header__menu {
    height: 36px;
    display: flex;
    background: #0F2438;
    justify-content: space-between;
    padding-right: 150px;
    padding-left: 230px;
}


.header__menu_left, .header__menu_right {
    width: 50%;
    height: 100%;
    display: flex;
}


.navbar-light .navbar-nav .nav-link.active {
    color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.bg-light {
    --bs-bg-opacity: 0;
    background: none;
    padding: 0;
}


.header__logo {
    height: 196px;
    left: 0;
    top: 36px;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.header__logo-top {
    display: flex;
    height: 50%;
    column-gap: 55px;
    align-items: center;
    justify-content: center;
}

.logo-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
}

.logo-description {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;

}

.logo-block {
    width: 168px;
}

.connection {
    column-gap: 30px;
    align-items: center;
}

.header_time {
    width: 285px;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.header_location {
    align-items: center;
    column-gap: 10px;
}

.container-fluid {
    display: flex;
    column-gap: 5px;
}

.container-fluid-button {
    display: flex;

}

.btn-catalog {
    height: 53px;
    width: 164px;
    border: none;
    background: #005BB9;
    border-radius: 6px;
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.header_connection {
    width: 234px;
    height: 30px;
    background: #E1EFD0;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
}

.header_admission {
    color: black;
    column-gap: 15px;
    width: 140px;
    align-items: center;
    justify-content: center;
}

.nav__item a {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

.header_connection > img {
    width: 10px;
    height: 12px;
    margin-right: 5px;
}

.btn-search {
    background: #005BB9;
    width: 165px;
    border-radius: 0 6px 6px 0;
}

.btn-search div {
    color: #FFFFFF;
}

.phone {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
}


.header__logo-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;

}

.logo-media {
    column-gap: 20px;
}

.collapse {
    margin-left: 50px;
}


.form-control {
    background: #F4F5FA;;
    width: 435px;
    height: 53px;
    border-radius: 6px 0 0 6px;
}

.layout__main_sale {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caruosel {
    margin: 0 auto;
    width: 1350px;
    display: flex;
    justify-content: center;
    column-gap: 25px;

}

.caruosel__item {
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    width: 430px;
    height: 194px;
    display: flex;
    margin: 50px 0;
}

.caruosel__button {
    border: none;
    background: #005BB9;
    border-radius: 4px;
}

.caruosel__description {
    font-size: 16px;
    Line-height: 24px;
    color: #0A1A2C;
    font-weight: 500;
}

.caruosel__main {
    margin: 15px;
}

.button_nav {
display: flex;
    padding-left: 300px;
    column-gap: 20px;
}

.btn__nav_pr {
    width: 224px;
    height: 55px;
    background: #005BB9;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 6px;
}

.btn__nav_lt, .btn__nav_lt2 {
    height: 55px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 20px;
}


.review {
    color: #FFB800;
}

.product-wrap {
    justify-content: center;
    column-gap: 35px;
    margin: 35px;

}

.product-block-box {
    width: 303px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.price {
    text-decoration-line: underline;
    color: #005BB9;
}

.buy {
    display: flex;
    column-gap: 25px;
    align-items: center;
}

.footer {
    height: 100px;
    border-bottom: 7px solid #F5F5F5;
}





































