@media screen and  (max-width: 320px) {
    .container {
        max-width: 320px;
    }

    .header__menu {
        padding: 0;
    }

    .header__menu_left {
        display: block;
    }

    .collapse {
        margin-left: 0;
    }

    .more {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        align-items: center;
        width: 150px;
    }


    .header__logo-bottom {
        height: 50%;
    }

    .logo-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-top: 3px;
    }

    .logo-name {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 0;
    }

    .header__logo-top {
        align-items: center;
        column-gap: 5px;
        padding: 0 5px;
    }

    .logo-description {
        font-size: 8px;
        line-height: 10px;

    }

    .header_connection {
        width: 150px;
        height: 12px;
    }

    .header_connection-description {
        font-size: 10px;
    }

    .header__logo-top img {
        width: 47px;
        height: 48px;

    }

    .logo-media {
        width: 49%;
    }

    .connection {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        width: 49%;
    }

    .phone {
        font-size: 14px;
    }

    .phone_description {
        font-size: 9px;

    }

    .form-control {
        width: 210px;
        height: 39px;
    }

    .container-fluid {
        padding: 0;
        column-gap: 15px;
    }

    .container-fluid-button {
        width: 39px;
        height: 39px;
    }


    .header_connection > img {
        width: 9px;
        height: 8px;
        margin-right: 5px;
    }

    .btn-catalog {
        height: 39px;
        width: 39px;
    }

    .btn-search {
        border-radius: 0 4px 4px 0;
        width: 39px;
        height: 39px;
    }

    .layout__main_sale {

        flex-wrap: wrap;
        justify-content: flex-start;
        overflow: hidden;
    }

    .product__block_description {
        font-size: 13px;
    }


    .sale__left > img {
        margin: 10px;
        width: 300px;
        height: 165px;

    }

    .sale__right {
        display: flex;
    }

    .sale__right img {
        padding-left: 10px;
        width: 250px;
        height: 145px;
    }

    .carousel {
        width: 320px;
        justify-content: flex-start;
        padding-left: 10px;
        overflow: hidden;
    }

    .carousel__item {
        width: 250px;
        height: 126px;
    }

    .carousel__item h2 {
        font-size: 15px;
        left: 19px;

    }

    .carousel__item p {
        font-size: 10px;
        line-height: 14px;
    }

    .carousel__item img {
        width: 74px;
        height: 97px;
        margin: 15px 10px;
    }

    .button_nav2 {
        padding-left: 10px;
        column-gap: 10px;
        overflow: hidden;
    }

    .selections {
        min-width: 124px;
        height: 36px;
        font-size: 10px;
        line-height: 13px;
    }

    .stock {
        min-width: 82px;
        height: 36px;
        font-size: 10px;
        line-height: 13px;
    }

    .now_buying {
        min-width: 156px;
        height: 36px;
        font-size: 10px;
        line-height: 13px;
    }
    .container__info {
        overflow: hidden;
    }


    .product-wrap {
        padding: 10px 10px;
    }

    .product-block-box {
        width: 130px;
    }

    .product-block-box > img {
        width: 123px;
        height: 85px;
    }

    .product-cart div {
        font-size: 15px;
    }

    .buy button {
        width: 80px;
        height: 35px;
        font-size: 10px;
    }

    .buy {
        column-gap: 5px;
    }

    .buy img {
        width: 13px;
        height: 13px;
    }

    .news {
        padding: 10px;
        font-size: 16px;
    }

    .show_more {
        width: 160px;
        height: 34px;
        margin: 10px;
    }

    .footer__top {
        flex-direction: column;
    }

    .footer__news {
        margin: 10px;
    }

    ul > li {
        font-size: 16px;
    }

    .footer__news_description {
        font-size: 12px;
        height: 90px;
    }

    .footer__bottom {
        padding-left: 10px;
    }

    .container__section {
        display: block;
    }

    .section_tittle {
        font-size: 14px;
        line-height: 16px;

    }

    .wrap__info {
        display: block;
        max-width: 159px;
    }

    .section p, .copyright {
        font-size: 12px;
        line-height: 14px;
    }

    .back {
        display: block;
    }

    .back h3, .subscribe {
        font-size: 14px;
        line-height: 16px;
    }

    .back p {
        font-size: 13px;
        line-height: 15px;
    }

    .icons {
        justify-content: flex-start;
    }

    .icons img {
        margin: 25px;
    }
}


